player{
    .ion-footer{
        bottom: -2px !important;
        * {
            background-color: none;
            color:white;
        }
    }
    .iconSize{
            font-size: xx-large;
            margin-right: 10px;
    }
    .center{
        text-align: center;
        margin-top: 10px;
    }
}